<div class="flex flex-col h-full w-full">
  <div class="basis-1/2 flex">
    <div class="basis-1/2">
      <h1 class="text-green-300">
        White
      </h1>
    </div>
    <div>
      <h1 class="text-green-300">
        green
      </h1>
    </div>
  </div>
  <div data-controller="map" id="map" class="w-full h-1/2"></div>
</div>