@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.marker-pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #7a0752;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}
/* to draw white circle */
.marker-pin::after {
  content: '';
  width: 24px;
  height: 24px;
  margin: 3px 0 0 3px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
}

/* to align icon */
.custom-div-icon i {
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-52%);
  position: absolute;
  font-size: 18px;
  text-align: center;
}

/* buy me coffee button */
.bmc-btn-container {
  height: 100%;

  a.bmc-btn {
    height: 80%;
    min-width: 0;
    font-size: 15px;
    padding: 0 10px;

    svg {
      height: 20px !important
    }
  }
}
